# HR Analytics Project

This project analyzes the HR Analytics Employee Attrition dataset.  
We use both **SQL** and **Python (Pandas)** to answer key business questions,  
then visualize insights for the HR department.

In [ ]:
import sqlite3
import pandas as pd
#import Libaries

In [ ]:
df = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv') # Read the file

In [ ]:
conn = sqlite3.connect("employees.db")
df.to_sql("employees", conn, if_exists="replace", index=False) #storing data

# SQL Queries questions

##### Q1: How many total employees are there?

In [ ]:
q1 = pd.read_sql_query("SELECT COUNT (*) FROM employees ;",conn)
q1

   COUNT (*)
0       2729

##### Q2: What is the employee count for each department?

In [ ]:
q2 = pd.read_sql_query("SELECT Department, COUNT(Department) FROM employees GROUP BY Department;",conn)
q2

               Department  COUNT(Department)
0         Human Resources               1055
1  Research & Development                961
2                   Sales                446